<h1>Listing permissions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Feed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.user.name %></td>
    <td><%= permission.feed.title %></td>
    <% if  permission.feed.user_id == current_user.id %>
    <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_permission_path %>
